<nav ng-if="numPages && pages.length >= 2">
    <ul class="pagination">
        <li ng-class="{active: 1==currentPage}"><a ng-click="selectPage(1)" rel="nofollow">First</a></li>
        <li ng-class=""><a ng-click="selectPage(currentPage-1)" rel="nofollow">&lt;</a></li>
        <li ng-repeat="page in pages" ng-class="{active: page==currentPage}"><a ng-click="selectPage(page)" rel="nofollow">{{page}}</a>
        </li>
        <li ng-class=""><a ng-click="selectPage(currentPage+1)" rel="nofollow">&gt;</a></li>
        <li ng-class="{active: numPages==currentPage}"><a ng-click="selectPage(numPages)" rel="nofollow">Last</a></li>
    </ul>
</nav>