<section ng-controller="SouthAmericaCtrl">
    <div id="southamericamap" class="map"></div>
    <table st-table="rowCollection" st-safe-src="twGrid" class="table table-striped table-hover" ng-show="twGrid.length">
        <thead>
        <tr>
            <th class="st-sortable" st-ratio="20" st-sort="country">Country</th>
            <th st-ratio="12">Currency</th>
            <th class="right" st-ratio="15">Origin</th>
            <th class="right st-sortable" st-ratio="15" st-sort="baseprice_date" st-skip-natural="true">Conversion</th>
            <th class="right st-sortable" st-ratio="15" st-sort="baseprice_30days" st-skip-natural="true" st-sort-default="true">30 Days Average</th>
            <th st-ratio="13">Memo/Link</th>
            <th class="right" st-ratio="10">Updated</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rowCollection">
            <td st-ratio="20">{{row.country}}</td>
            <td st-ratio="12">{{row.currency}}</td>
            <td class="right" st-ratio="15">{{row.price | currency}}</td>
            <td class="right" st-ratio="15">{{row.baseprice_date | currency}}</td>
            <td class="right" st-ratio="15">{{row.baseprice_30days | currency}}</td>
            <td st-ratio="13">{{row.memo}}
                <a href="{{row.link_uri}}" class="btn btn-info btn-sm" target="{{row.link_label}}" rel="nofollow" ng-show="row.link_uri">
                    {{row.link_label}}
                </a>
            </td>
            <td class="right" st-ratio="10">{{row.updatedate | date}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="7" class="text-center" st-pagination="" st-items-by-page="5" st-displayed-pages="3" st-template="views/custom-foot-paginationcontrol.html">
            </td>
        </tr>
        </tfoot>
    </table>

    <h3 ng-hide="twGrid.length"> Sorry! No record found ! </h3>
</section>